[Unit]
Description=Virtual TOR
After=bird.service
After=network.target

[Service]
TimeoutStartSec=2
Environment=RACK_NO=%i SYSTEMD=1
ExecStartPre=-/usr/local/bin/virt-router.sh stop
ExecStart=/usr/local/bin/virt-router.sh start
ExecStop=/usr/local/bin/virt-router.sh stop

[Install]
WantedBy=multi-user.target
